---
import MainLayout from "@layouts/MainLayout.astro";
import Hero from "@components/Hero.astro";
import Carts from "@/components/Carts.astro";
import Contact from "@/components/Contact.astro";

import linksRRSS from "@/config/social.json";
const { github, twitter, webMusical, blog } = linksRRSS;

const style = "hover:underline hover:text-main font-bold uppercase";

import skills from "@/config/skill.json";
const { front, back, libs_tools, programming_language, storage, styles } =
  skills;
---

<MainLayout>
  <Hero />
  <main class="px-5 md:px-16 mt-40">
    <h3 class="text-xl md:text-2xl uppercase font-bold text-center">
      /Sobre <span class="text-main">Mí</span>
    </h3>
    <section>
      Soy un desarrollador FullStack, apasionado por brindar valor a las
      empresas a través de la tecnología. Me encanta el desafío de encontrar
      soluciones creativas a los problemas y disfruto colaborando con equipos
      para lograr grandes resultados.
    </section>
    <section>
      Me dedico a mantenerme actualizado con las últimas tecnologías y
      tendencias para brindar las mejores soluciones a mis clientes. Cuido mucho
      los detalles en el diseño y desarrollo de mis proyectos. Mi objetivo final
      es crear un software que sea tanto fácil de usar como impactante para
      lograr los objetivos del cliente.
    </section>
    <section>
      Puede encontrarme en <a
        href={twitter}
        target="_blank"
        rel="noopener noreferrer"
        class={`${style}`}>Twitter</a
      >, donde comparto cositas relacionadas con la tecnología y construyo en
      público, o puede seguirme en <a
        href={github}
        target="_blank"
        rel="noopener noreferrer"
        class={`${style}`}>GitHub</a
      >. A menudo escribo sobre mis hallazgos en mi <a
        href={blog}
        rel="noopener noreferrer"
        class=`${style}`>Blog.</a
      > Un perfil no tan tecnico, soy musico guitarrita profesional, si quieres aprender
      de musica y mas de este mundo artistico visita mi <a
        href={webMusical}
        target="_blank"
        rel="noopener noreferrer"
        class={`${style}`}>Web,</a
      > donde hablo temas que pueden ayudarte a crecer.
    </section>
  </main>

  <div class="px-14 mt-24 md:px-32 md:mt-36">
    <h2 class="text-xl uppercase font-bold text-center pb-10">Habilidades</h2>
    <div class="flex flex-wrap justify-center gap-4">
      <Carts titleTech={"Frontend"} description={front} />
      <Carts titleTech={"Backend"} description={back} />
      <Carts titleTech={"Styles"} description={styles} />
      <Carts titleTech={"Storage"} description={storage} />
      <Carts
        titleTech={"Programming Language"}
        description={programming_language}
      />
      <Carts titleTech={"Libs & Tools"} description={libs_tools} />
    </div>
  </div>
  <Contact />
</MainLayout>

<style>
  section {
    @apply text-paraph;
    padding: 10px;
  }
</style>
